* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.infoTable {
    width: 100%;
    height: 100vh;
    background-image: url(./imges/adminBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabelContent {
    width: 90%;
    height: 80vh;
    background-color: #d6d6cb86;
    border-radius: 4px;
    border: 2px solid #d3b6b6;
    box-shadow: 5px 10px 31px #262323;
}

.tabelContent h1 {
    text-align: center;
    color: #6e8d80;
    padding-top: 15px;
}

.logout {
    width: 90%;
    display: flex;
    justify-content: end;
    padding-bottom: 15px;
}

.logout button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    font-family: cursive;
    letter-spacing: 1px;
    color: red;
    background: #cef2eb;
    font-weight: bold;
    cursor: pointer;

}

.downTab {
    width: 99%;
    display: flex;
    justify-content: end;
}

.downTab button {
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: green;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}

.downTab button:hover {
    background-color: green;
    color: white;
    font-size: 16px;
}

.TabelTitel h2 {
    color: #fa7676;
    text-decoration: underline;
    font-size: 22px;
    padding-left: 8px;
    padding-bottom: 10px;
}

.tabelInfo table {
    border: 2px solid black;
    width: 90%;
    margin: auto;
}

.tabelInfo table th {
    color: #8175ff;
    padding: 7px;
    border-left: 2px solid #ff6b5b;
    border-bottom: 3px solid #54c079;
}

.tabelInfo table td {
    color: #687475;
    padding: 3px;
    font-size: 17px;
}

.controle {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.controle .update {
    padding: 2px 6px;
    color: #409340;
    border: none;
    border-radius: 2px;
    transition: 0.1s;
    cursor: pointer;
    font-weight: 700;
}

.controle .delete {
    padding: 2px 6px;
    color: #b1224d;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;

}


@media screen and (max-width:"768px") {
    .tabelInfo table th {
        color: red;
    }
}
